*{
	padding: 0;
	margin: 0;
}

body{
	font-family: Arial, sans-serif;
	background: url(../img/bg.jpg) repeat-x;
	background-attachment: fixed;
	background-color: rgb(210, 239, 253);
	height: 100%;
	color: #3c3c3c;
}
body.full-screen {
  background-size: cover !important;
}

video{
	width: 800px;
	display: block;
	margin: 15px auto;
	background: black;
}
video.disabled{
	opacity: 0.3;
	transition: opacity .3s linear;
}

button{
	padding: 3px 5px;
	min-width: 80px;
	cursor: pointer;

	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-dark {
    color: #fff;
    background-color: #307bbb;
    border-color: #307bbb;
}

ul{
	list-style: none;
}
li{
	list-style: none;
}

table{
	width: 100%;
	font-size: 18px;
	border-collapse: collapse;
	color: #444;
}
td, th{
	padding: 4px 8px;
	text-align: left;
	border: solid 1px #eee;
	background: #fff;
}
th{
	background: #3c3c3c;
	color: #fff;
}
table img{
	max-width: 80px;
}

input[type=text]{
	padding: 10px 20px;
	min-width: 300px;
}


.wrap{
	width: 800px;
	margin: 0 auto;
	position: relative;
}
.hide{
	display: none;
}

.controls{
	background: black;
	padding: 10px;
}

.question-wrap{
	width: 100%;
	position: absolute;
	top: -1000px;
	left: 0;
	z-index: 9;
	transition: top .3s linear;
}
.question-wrap.active{
	top: 150px;
}

.question-wrap .question{
	width: 400px;
	background: #fff;
	margin: 0 auto;
	border: solid 5px #307bbb;

	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
.question-wrap form{
	display: none;
	min-height: 60px;
	padding: 35px 25px;
	padding-left: 90px;
}
.question-wrap form.current{
	display: block;
}
.question-wrap form.error{
	background: #f8d7da;
}
.question-wrap form.success{
	background: #d4edda;
}

.options-question{
	padding-top: 15px;
}
.options-question li{
	display: block;
	margin-right: 15px;
	font-size: 14px;
	margin-bottom: 10px;
}

.message-error{
	color: red;
}

.ul-hearts li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	width: 20px;
	height: 20px;
	background: url(../img/heart.png) no-repeat;
	background-size: contain;
}


.coin-box .coin{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../img/coin.png) no-repeat;
	background-size: contain;
}

.user-bar{
	padding: 25px 10px 10px 10px;
	background: #fff;
	font-size: 18px;
}
.user-bar > div{
	width: 33.33333%;
	float: left;
	min-height: 30px;
}
.user-bar:after{
	content: "";
	display: block;
	clear: both;
}
.heart-box{}
.avatar-box{
	text-align: center;
}
.avatar-box img{
	max-width: 35px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -10px;
}
.coin-box{
	text-align: right;
}


.progress-bar{
	height: 5px;
	width: 80%;
	display: inline-block;
	background: #ccc;
	position: relative;
}
.progress-bar > div{
	height: 5px;
	width: 0%;
	background: #307bbb;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 2;
}


.c100{
	font-size: 60px;
	background-color: #307bbb;
	margin-right: 25px;
}
/*.c100 .bar{
	transition: all .3s linear;
}*/

.config-painel{
	text-align: center;
	padding-top: 50px;
}
.config-painel h3{
	margin-bottom: 15px;
}
.config-painel p{
	margin-bottom: 10px;
}

.name-box{
	margin-bottom: 25px;
}


.ul-avatar{
	padding-top: 15px;
}
.ul-avatar li{
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
}
.ul-avatar img{
	max-width: 100px;
}


.step{
	display: none;
}
.step.active{
	display: block;
}


.lose-box{
	text-align: center;
	padding: 200px 0 0 0;
}
.lose-box h3{
	margin-bottom: 10px;
	color: #dc3545;
}

.ul-actions{
	margin-top: 15px;
}
.ul-actions li{
	display: inline-block;
	vertical-align: middle;
}


.ranking-box{
	text-align: center;
	padding-top: 30px;
}
.ranking-box h4{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 14px;
}
.ranking-box table{
	margin-bottom: 50px;
}


.ul-ranking{
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 25px;
	background: rgba(255, 255, 255, 0.7);
}
.ul-ranking li{
	text-align: left;
	padding: 15px 0;
	border-bottom: 1px solid #aaa;
}
.ul-ranking li.isYou{
	background: #ffeeba;
}
.ul-ranking li > span,
.ul-ranking li > img{
	display: inline-block;
	vertical-align: middle;
}
.ul-ranking li > span{
	padding: 5px 15px;
}
.ul-ranking span.position{
	background: #307bbb;
	color: #fff;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	padding: 10px 10px 10px 10px !important;
	text-align: center;
	margin-right: 35px;
	margin-left: 10px;
}
.ul-ranking span.coins{
	float: right;
	padding-top: 20px;
}
.ul-ranking img{
	max-width: 60px;
}



#btnPlay{
	width: 50px;
	height: 50px;
	background: url(../img/play.png) no-repeat;
	background-size: contain;
	border: none;
	outline: none;
	vertical-align: middle;
	margin-right: 30px;
	padding: 0;
}

#timerScreen{
	margin: 10px 0 0 10px;
}

#openFullscreen{
	width: 25px;
	height: 25px;
	background: url(../img/expand.png) no-repeat;
	background-size: contain;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 99;
	min-width: auto;
	outline: none;
}